{{!-- Basic site navigation --}}
<span id="home" {{on "click" this.home}}>Home</span>
<br>
<span id="log-out" {{on "click" this.api.revokeCredentials}}>Logout</span>

{{!-- Search form --}}
<form id="view-repo-form">
    <Input placeholder="Enter a username.." @type="text" name="username" id="username" @value={{this.username}} />
    <Input @type="submit" @value="Submit" {{on "click" this.search}}/>
</form>

{{!-- Search results --}}
<div id="repository-results">
    {{#each this.repositories as |repo|}}
        <Ui::SearchResults @username={{this.username}} @repoName={{repo.name}} @description={{repo.description}} @ratingAverage={{repo.rating.average}} />
    {{/each}}
</div>
