<hr>
<b>{{@repoName}}</b>
<br>
<p>
    {{#if @description}}
        {{@description}}
    {{else}}
        No description provided
    {{/if}}
    <br>

    {{#if this.showCommentBox}}
        <Ui::CommentBox @writeComment={{this.writeComment}} @comments={{this.comments}} @user={{@username}} @repository={{@repoName}} @close={{this.toggleCommentBox}}/>
        <Ui::Overlay/>
    {{/if}}
    <button type="button" {{on "click" (fn this.toggleCommentBox true )}}>Leave a comment</button>
    <button type="button" {{on "click" (fn this.toggleCommentBox false)}}>View comments</button>
    <button type="button" {{on "click" (fn this.api.rateRepository this.username this.repo this.slider)}}>Rate</button>
<div>
    Slider range: [1-5]
    <br>
    <Input @type="range" min="1" max="5" @value={{this.slider}} />
</div>
    Average rating: {{@ratingAverage}}
<br>
</p>